<template>
  <nav class="nav">
    <ul class="nav__list">
      <li v-for="nav in skills" :key="nav.id">
        <a :href="'#' + nav.fields.skillName|slugify">{{nav.fields.skillName}}</a>
      </li>
    </ul>
  </nav>
</template>

<script>
  export default {
    props: ['skills']
  }
</script>

<style lang="scss">
  @import 'assets/css/main.scss';

  .nav {
    margin-bottom: 1rem;

    @include min-up(37.5em) {
        margin-bottom: 2.5rem;
    }
  }

  .nav__list {
    @extend %list-reset;
    display: flex;
    flex-direction: column;

    @include min-up(37.5em) {
        flex-direction: row;
        justify-content: space-around;
    }

    li {
        margin-bottom: 1rem;
    }

    a {
        font-size: 1.25rem;
        text-decoration: none;

        @include min-up(37.5em) {
          padding: 1rem;
        }
    }
  }
</style>
