<template>
  <div>
    <div class="site-canvas">
      <nuxt/>
    </div>
    <Footer/>
  </div>
</template>

<script>
  import Footer from '@/components/Footer.vue'

  export default {
    components: {
      Footer
    }
  }
</script>
