<template>
  <section>
    <!-- Header/Intro -->
    <Header :intro="intro"></Header>

    <!-- Nav Section -->
    <Navigation :skills="skills"></Navigation>

    <!-- Skills Section -->
    <Skills :skills="skills"></Skills>

  </section>
</template>

<script>
  import {createClient} from '~/plugins/contentful.js'
  import Header from '@/components/Header.vue'
  import Navigation from '@/components/Navigation.vue'
  import Skills from '@/components/Skills.vue'

  const client = createClient()

  export default {
    components: {
      Header,
      Navigation,
      Skills
    },
    // `env` is available in the context object
    asyncData ({env}) {
      return Promise.all([
        // fetch header info
        client.getEntries({
          'content_type': 'introduction',
        }),
        // fetch skills
        client.getEntries({
          'content_type': 'skill',
          'order': 'fields.sortOrder'
        })
      ]).then(([intro, skills]) => {
        // return data that should be available
        // in the template
        return {
          intro: intro.items[0],
          skills: skills.items
        }
      }).catch(console.error)
    }
  }
</script>
